@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Kool Kidz Pizza!</h1>
    <p><a href="https://localhost:5001/order/home">Order Here</a>.</p>
</div>
